<!DOCTYPE html>
<html>
<head>
  <title>IdeaBox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <h1>Welcome, <%= current_user.first_name %></h1>
  <%= button_to "Logout", logout_path, method: :delete %>
<% end %>
<%= yield %>

</body>
</html>
